@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Common CSS & Utilities */
body{
    font-family: 'Poppins', sans-serif;
}

/* TOP BANNER START */
.container{
    width: 990px;
    height: 650px;
    margin: auto;
    background: #161616;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 130px;
}
.top-banner{
    display: flex;
    align-items: center;
}
.top-title{
    margin-left: 30px;
}
.top-title a{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    padding: 16px 25px;
    text-decoration: none;
    background: #13955E;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}
.top-title a:before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #ff003b;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.top-title a:hover:before{
    left: 0;
    z-index: -1;
}
.top-title a span{
    color: #FFFFFF;
    transition: .5s ease-in-out;
    z-index: 1;
}
.top-title a:hover span{
    color: #FFFFFF;
}
.top-title h1{
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.top-title p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.top-title button{
    font-size: 20px;
    font-weight: 400;
    padding: 16px 25px;
    background-color: #13955E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.fa-angle-right{
    color: #FFFFFF;
    margin-left: 10px;
}
.top-img img{
    width: 500px;
    height: 600px;
    margin-top: 50px;
}
/* TOP BANNER END */

/* LIVE STREAM SECTION START */
.live{
    width: 990px;
    margin: auto;
    margin-bottom: 130px;
}
.menu{
    width: 310px;
    height: 310px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu button{
    width: 252px;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    margin: 15px;
}
.menu button a{
    text-decoration: none;
    color: #161616;
}
.blog{
    background-color: #13955E;
    border: none;
    color: #FFFFFF;
}
#bg-color{
    color: #FFFFFF;
}
.live-menu{
    width: 660px;
    display: flex;
}
.live-stream{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-left: 15px;
}
.alive{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 25px;
}
.fixed{
    width: 220px;
    height: 150px;
    margin-bottom: 10px;
}
.stream img{
    width: 220px;
    height: 125px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}
#flag{
    display: flex;
    justify-content: center;
}
#flag img{
    width: 90px;
    height: 50px;
    border-radius: 0px 0px 0px 0px;
    margin: 15px 5px;
}
#flag p{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #161616;
}
.transfer-item{
    margin-left: 10px;
}
.schedule h3{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    text-align: center;
}
.schedule p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
}
.transfer{
    padding: 5px 5px;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    margin-bottom: 15px;
}
.subline{
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-bottom: 20px;
}
.logo{
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.review{
    margin-left: 5px;
}
.view-all{
    text-align: center;
}
.view-all button{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    padding: 12px 29px;
    border-radius: 5px;
    background-color: #13955E;
    border: none;
    margin-top: 50px;
}
/* LIVE STREAM SECTION END */

/* FOOTER SECTION START */
.footer{
    padding: 50px 50px;
    background: #161616;
}
.footer h2{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin-left: 50px;
}
.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 40px;
}
.icon i{
    margin-left: 30px;
    font-size: 25px;
    color: #FFFFFF;
}
.icon i:hover{
    color: #13955E;
    transition-duration: 0.3s all ease;
}
/* FOOTER SECTION END */

/* =============================
         MEDIA QUERIES 
 ===============================*/

 /* MOBILE DEVICES */
@media only screen and (max-width:576px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .container{
        width: 90%;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .top-banner{
        flex-direction: column;
        align-items: center;
    }
    .top-title{
        margin-left: 0px;
        text-align: center;
    }
    .top-title h1{
        font-size: 35px;
        margin-top: 28px;
        margin-left: 0px;
    }
    .top-title p{
        font-size: 16px;
    }
    .top-title a{
        position: static;
    }
    .top-img img{
        width: 233px;
        height: 245px;
    }
    .live-menu{
        width: 550px;
        margin: 0px 60px;
        justify-content: center;
    }
    .menu{
        width: 210px;
        height: 176px;
        background-color: #FFFFFF;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .menu button{
        width: 210px;
        height: 176px;
        text-align: center;
        border: 1px solid #E8E8E8;
        padding: 5px 10px;
    }
    .live-menu{
        flex-direction: column;
    }
    .live-stream{
        grid-template-columns: repeat(1, 1fr);
    }
    .view-all{
        display: none;
    }
    .footer-menu{
        flex-direction: column;
        align-items: center;
    }
    .footer-menu a{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .social-icon{
        align-items: center;
        margin-right: 40px;
    }
}

/* TABLET DEVICES */
@media only screen and (min-width:577px) and (max-width:992px) {
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.top-title a{
    position: static;
}
.live-menu{
    max-width: 990px;
    margin: auto;
    flex-direction: column;
}
.menu{
    width: 0px;
    height: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#row{
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 300px;
}
#row button a{
    width: 230px;
    height: 64px;
    margin: 0px 50px;
    padding: 20px;
}
.live-stream{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
}
.footer{
    max-width: 100%;
}
.footer-menu a{
    font-size: 13px;
}
}

/* DESKTOP DEVICES */
@media only screen and (min-width:993px) and (max-width:1400px){
.view-all{
    display: none;
    }
}